@media (max-width: 34em) {
  main {
    margin: 0 2.8rem;
  }
  .order-text {
    padding: 0 1rem;
  }
  .annual-plan {
    font-size: 1.4rem;
  }
  .plan-price {
    font-size: 1.4rem;
  }
}
@media (max-width: 27em) {
  .order-heading {
    font-size: 2.4rem;
  }
  .order-text {
    font-size: 1.4rem;
  }
  .annual-plan,
  .plan-price {
    font-size: 1.2rem;
  }
}
